<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Jain Vikas Mandal || Manipur</title>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" href="img/fevicon.jpg" type="image/gif" sizes="16x16">
    <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Amaranth' rel='stylesheet'>

      <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="css/baguetteBox.min.css">
      <link rel="stylesheet" href="css/font-awesome.css">


    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/stylish-portfolio.min.css" rel="stylesheet">


      <style>



.container.gallery-container {
    background-color: #fff;
    color: #35373a;
    min-height: 100vh;
    padding: 30px 50px;
}

.gallery-container h1 {
    text-align: center;
    margin-top: 50px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
}

.gallery-container p.page-description {
    text-align: center;
    margin: 25px auto;
    font-size: 18px;
    color: #999;
}

.tz-gallery {
    padding: 0px;
}

/* Override bootstrap column paddings */
.tz-gallery .row > div {
    padding: 2px;
}

.tz-gallery .lightbox img {
    width: 100%;
    border-radius: 0;
    position: relative;
}

/*.tz-gallery .lightbox:before {*/
    /*position: absolute;*/
    /*top: 50%;*/
    /*left: 50%;*/
    /*margin-top: -13px;*/
    /*margin-left: -13px;*/
    /*opacity: 0;*/
    /*color: #fff;*/
    /*font-size: 26px;*/
    /*!*font-family: 'fa  fa-search';*!*/
    /*content: '\e003';*/
    /*pointer-events: none;*/
    /*z-index: 9000;*/
    /*transition: 0.4s;*/
/*}*/


.tz-gallery .lightbox:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 235px;
    opacity: 0;
    background-color: rgba(245, 48, 77, 0.7);
    content: '';
    transition: 0.4s;
    /*font-family: 'fa  fa-search';*/
}

.tz-gallery .lightbox:hover:after,
.tz-gallery .lightbox:hover:before {
    opacity: 1;
}

.baguetteBox-button {
    background-color: transparent !important;
}

@media(max-width: 768px) {
    body {
        padding: 0;
    }
}
      </style>

  </head>

<body id="page-top">
    <!-- Navigation -->
    <a class="menu-toggle rounded" href="#">
      <i class="fa fa-bars"></i>
    </a>
    <nav id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <li class="sidebar-brand">
          <a class="js-scroll-trigger" href="#page-top">Jain Vikas Mandal</a>
        </li>
        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="index.html">Home</a>
        </li>

        <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="gallery.html">Gallery</a>
        </li>


          <li class="sidebar-nav-item">
          <a class="js-scroll-trigger" href="vegLife.html">Vegetarianism</a>
        </li>

      </ul>
    </nav>


  <!-- Header -->





    <div class="container gallery-container" >

    <div style="text-align: center">
              <h2>Image Gallery</h2>

    </div>

    <p style="font-size: 25px!important;font-family: 'Amaranth'" class="page-description text-center">The greatness of a nation and its moral progress can be judged
                  by the way its animals are treated.</p>

    <div class="tz-gallery">

        <div class="row">



            <div class="col-sm-12 col-md-4">
                <a class="lightbox" href="img/images/5.jpeg">
                    <img style="height: 235px" src="img/images/5.jpeg" alt="Bridge">
               </a>
            </div>

            <div class="col-sm-12 col-md-4">
                <a class="lightbox" href="img/images/6.jpeg">
                    <img style="height: 235px" src="img/images/6.jpeg" alt="Bridge">
               </a>
            </div>

            <div class="col-sm-12 col-md-4">
                <a class="lightbox" href="img/images/7.jpeg">
                    <img style="height: 235px" src="img/images/7.jpeg" alt="Bridge">
               </a>
            </div>

            <div class="col-sm-12 col-md-4">
                <a class="lightbox" href="img/images/8.jpeg">
                    <img style="height: 235px" src="img/images/8.jpeg" alt="Bridge">
               </a>
            </div>

            <div class="col-sm-12 col-md-4">
                <a class="lightbox" href="img/images/9.jpeg">
                    <img style="height: 235px" src="img/images/9.jpeg" alt="Bridge">
               </a>
            </div>

            <div class="col-sm-12 col-md-4">
                <a class="lightbox" href="img/images/10.jpeg">
                    <img style="height: 235px" src="img/images/10.jpeg" alt="Bridge">
               </a>
            </div>

            <div class="col-sm-12 col-md-4">
                <a class="lightbox" href="img/images/11.jpeg">
                    <img style="height: 235px" src="img/images/11.jpeg" alt="Bridge">
               </a>
            </div>









            <div class="col-sm-12 col-md-4">
                <a class="lightbox" href="img/images/1.jpeg">
                    <img style="height: 235px" src="img/images/1.jpeg" alt="Bridge">
                </a>
            </div>

            <div class="col-sm-12 col-md-4">
                <a class="lightbox" href="img/images/2.jpeg">
                    <img style="height: 235px" src="img/images/2.jpeg" alt="Bridge">
               </a>
            </div>

            <div class="col-sm-12 col-md-4">
                <a class="lightbox" href="img/images/3.jpeg">
                    <img style="height: 235px" src="img/images/3.jpeg" alt="Bridge">
               </a>
        <div style="text-align: center;font-weight: bold">Essay competition held at Imphal public school</div>     </div>





             <div class="col-sm-12 col-md-4">
                <a class="lightbox" href="img/compressjpeg/IMG_20180915_175011.jpeg">
                    <img style="height: 235px" src="img/compressjpeg/IMG_20180915_175011.jpeg" alt="Bridge">
                </a>
            </div>

            <div class="col-sm-12 col-md-4">
                <a class="lightbox" href="img/compressjpeg/DSC_5127-min.JPG">
                    <img  src="img/compressjpeg/DSC_5127-min.JPG" alt="Bridge">
                </a>
            </div>
            <div  class="col-sm-12 col-md-4">
                <a class="lightbox" href="img/compressjpeg/IMG_20180909_134342-min.jpg">
                    <img style="height: 235px" src="img/compressjpeg/IMG_20180909_134342-min.jpg" alt="Park">
                </a>
            </div>
            <div class="col-sm-12 col-md-4">
                <a class="lightbox" href="img/compressjpeg/IMG_20180910_125826-min.jpg">
                    <img  style="height: 235px" src="img/compressjpeg/IMG_20180910_125826-min.jpg" alt="Tunnel">
                </a>
            </div>
            <div class="col-sm-12 col-md-4">
                <a class="lightbox" href="img/compressjpeg/IMG_20180910_130236-min.jpg">
                    <img style="height: 235px" src="img/compressjpeg/IMG_20180910_130236-min.jpg" alt="Traffic">
                </a>
            </div>
            <div class="col-sm-12 col-md-4">
                <a class="lightbox" href="img/compressjpeg/IMG_20180913_192953-min.jpg">
                    <img style="height: 235px" src="img/compressjpeg/IMG_20180913_192953-min.jpg" alt="Coast">
                </a>
            </div>
            <div class="col-sm-12 col-md-4">
                <a class="lightbox" href="img/compressjpeg/IMG_20180915_113443-min.jpg">
                    <img style="height: 235px" src="img/compressjpeg/IMG_20180915_113443-min.jpg" alt="Rails">
                </a>
            </div>


            <div class="col-sm-12 col-md-4">
                <a class="lightbox" href="img/compressjpeg/IMG_20180909_134554-min.jpg">
                    <img style="height: 235px" src="img/compressjpeg/IMG_20180909_134554-min.jpg" alt="Rails">
                </a>
            </div>


            <div class="col-sm-12 col-md-4">
                <a class="lightbox" href="img/compressjpeg/IMG_20180915_143844-min.jpg">
                    <img style="height: 235px" src="img/compressjpeg/IMG_20180915_143844-min.jpg" alt="Rails">
                </a>
            </div>








             <div class="col-sm-12 col-md-4">
                <a class="lightbox" href="img/compressjpeg/new/7.jpg">
                    <img style="height: 235px" src="img/compressjpeg/new/7.jpg" alt="Rails">
                </a>
            </div>


             <div class="col-sm-12 col-md-4">
                <a class="lightbox" href="img/compressjpeg/new/2.jpg">
                    <img style="height: 235px" src="img/compressjpeg/new/2.jpg" alt="Rails">
                </a>
            </div>


             <div class="col-sm-12 col-md-4">
                <a class="lightbox" href="img/compressjpeg/new/3.jpg">
                    <img style="height: 235px" src="img/compressjpeg/new/3.jpg" alt="Rails">
                </a>
            </div>


             <div class="col-sm-12 col-md-4">
                <a class="lightbox" href="img/compressjpeg/new/4.jpg">
                    <img style="height: 235px" src="img/compressjpeg/new/4.jpg" alt="Rails">
                </a>
            </div>


             <div class="col-sm-12 col-md-4">
                <a class="lightbox" href="img/compressjpeg/new/5.jpg">
                    <img style="height: 235px" src="img/compressjpeg/new/5.jpg" alt="Rails">
                </a>
            </div>


             <div class="col-sm-12 col-md-4">
                <a class="lightbox" href="img/compressjpeg/new/6.jpg">
                    <img style="height: 235px" src="img/compressjpeg/new/6.jpg" alt="Rails">
                </a>
            </div>

        </div>

    </div>

</div>





 <!-- Footer -->
    <footer class="footer text-center">
      <div class="container">
        <ul class="list-inline mb-5">
          <li class="list-inline-item">
            <a class="social-link rounded-circle text-white mr-3" href="https://www.facebook.com/groups/jvmimphal/">
              <i class="icon-social-facebook"></i>
            </a>
          </li>

          <!--<li class="list-inline-item">-->
            <!--<a class="social-link rounded-circle text-white mr-3" href="#">-->
              <!--<i class="icon-social-twitter"></i>-->
            <!--</a>-->
          <!--</li>-->

          <!--<li class="list-inline-item">-->
            <!--<a class="social-link rounded-circle text-white" href="#">-->
              <!--<i class="icon-social-github"></i>-->
            <!--</a>-->
          <!--</li>-->
        </ul>
        <p class="text-muted  mb-0">
          Copyright ©2018 All rights reserved <strong>Vikas Jain</strong>  | Designed and Developed   by <a target="_blank" href="https://nextfifth.com">NextFifth Technologies</a>.
        </p>
      </div>
    </footer>

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>






    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
<script>
    baguetteBox.run('.tz-gallery');
</script>



    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/stylish-portfolio.min.js"></script>

    <script>
      $('#myModal').on('shown.bs.modal', function () {
  $('#myInput').trigger('focus')
})
    </script>

</body>
</html>
